<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="horizontal-center top-spacing">
                Real Estate Price Predictor
            </h2>
            <h6 *ngFor="let column of columns">
                <div class="label">
                    <label [for]="column">
                        {{ transformColumnName(column) + ':' }}
                    </label>
                </div>
                <div class="select">
                    <select [id]="column" (change)="getResult()">
                        <option *ngFor="let value of dataValues[column]" [value]="value">
                            {{ value }}
                        </option>
                    </select>
                </div>
            </h6>
            <h6 class="result top-spacing horizontal-center" *ngIf="result > 0">
                {{ 'Price in lacs: Rs. ' + result }}
            </h6>
        </div>
    </div>
</div>